/* Estilo global para eliminar márgenes y padding por defecto y establecer el modelo de caja */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y border sean incluidos en el ancho/altura total */
}

/* Estilo básico para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Establece la fuente predeterminada para el texto del cuerpo */
}

/* Estilos para el header */
header {
    color: #333; /* Color de texto dentro del header */
    padding: 20px 20px; /* Espaciado interno del header, arriba/abajo y derecha/izquierda */
}

/* Estilos para el contenedor del contenido del header */
.header-content {
    max-width: 960px; /* Ancho máximo del contenedor */
    display: flex; /* Usa Flexbox para la disposición de los elementos */
    margin: auto; /* Centra el contenedor horizontalmente */
    justify-content: space-between; /* Distribuye el espacio entre el título y el logo */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    background-image: url(img/fondo2.jpg); /* Fondo con imagen */
    background-size: cover; /* La imagen de fondo cubre completamente el espacio */
    background-position: center; /* Centra la imagen de fondo */
    height: 100px; /* Altura fija del contenedor */
    line-height: 1.2; /* Espaciado de línea para el texto dentro */
    border-top-left-radius: 10px; /* Redondea las esquinas superiores izquierda */
    border-top-right-radius: 10px; /* Redondea las esquinas superiores derecha */
}

/* Estilo para el título principal dentro del header */
.header-content h1 {
    margin: 0; /* Elimina margen predeterminado */
    font-size: 24px; /* Tamaño de fuente del título */
}

/* Estilo para el subtítulo pequeño dentro del header */
.titulo-pequeno {
    font-size: 18px; /* Tamaño de fuente más pequeño para "CENTRO VETERINARIO" */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-weight: bold; /* Texto en negrita */
    font-family: sans-serif; /* Fuente sans-serif para el subtítulo */
    margin-left: 50px; /* Margen izquierdo */
}

/* Estilo para el subtítulo grande dentro del header */
.titulo-grande {
    font-size: 36px; /* Tamaño de fuente más grande para "Caninos y Felinos" */
    font-weight: normal; /* Peso normal del texto */
    font-style: italic; /* Estilo cursiva */
    margin-left: 50px; /* Margen izquierdo */
}

/* Estilo para el logo dentro del header */
.header-content img {
    height: 190px; /* Altura del logo para coincidir con la altura del contenedor */
    margin-right: 100px; /* Margen derecho */
}

/* Estilos para la navegación */
nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Distribución horizontal de los elementos de la lista usando Flexbox */
    justify-content: space-around; /* Distribuye los elementos uniformemente */
    width: 100%; /* Usa el ancho completo del contenedor */
}

/* Estilos para el contenedor del menú */
.menu {
    max-width: 960px; /* Ancho máximo del menú */
    border-bottom-left-radius: 10px; /* Redondea la esquina inferior izquierda */
    border-bottom-right-radius: 10px; /* Redondea la esquina inferior derecha */
    background-color: rgb(22, 76, 73); /* Color de fondo del menú */
    margin: auto; /* Centra el contenido horizontalmente */
    display: flex; /* Usa Flexbox para la disposición de los elementos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
}

/* Estilo para los elementos de lista en la navegación */
nav ul li {
    margin: 10px; /* Margen alrededor de cada elemento de lista */
}

/* Estilos para los enlaces del menú */
nav ul li a {
    color: white; /* Color de texto para los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    padding: 5px 10px; /* Espaciado interno para cada enlace */
    margin-right: 70px; /* Margen derecho para separar los enlaces */
}

/* Añade una línea vertical entre los elementos del menú excepto el último */
nav ul li:not(:last-child) {
    border-right: 1px solid white; /* Línea vertical blanca entre los elementos */
}

/* Estilo para los enlaces al pasar el mouse */
nav ul li a:hover {
    background-color: #555; /* Cambio de color de fondo al pasar el mouse */
    border-color: white; /* Color de borde */
}

.contenedor1 {
    width: 35%;
    margin: 5px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden; /*esta propiedad sirve para asegurarse de que cualquier contenido que sobresalga 
                        del contenedor (en este caso, la descripción de la película) no se muestre fuera 
                        de los límites del contenedor y se recorte de manera limpia y ordenada*/
    background-color: #ffffa8;
    margin-left: 280px;
    margin-top: 0;
}

.contenedor2 {
    width: 35%;
    margin: 5px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden; /*esta propiedad sirve para asegurarse de que cualquier contenido que sobresalga 
                        del contenedor (en este caso, la descripción de la película) no se muestre fuera 
                        de los límites del contenedor y se recorte de manera limpia y ordenada*/
    background-color: #ffffa8;
    margin-left: 280px;
    margin-top: 0;
}

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}

.descripcion h2 {
    margin: 0;
    font-size: 18px;
    text-align: center; 
    flex: 1;
}

.descripcion p {
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    flex: 2; /* Ocupa el espacio disponible*/
    
}

.descripcion img {
    margin-left: auto;
    max-width: 50%;
    height: ;
    width: 15rem;
    float: right;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 20px;
    order: 3;
    margin-top: 10px;
}

/*Formulario*/

.container {
    width: 25%;
    margin: 50px auto;
    background-color: rgb(22, 76, 73); /* Fondo verde oscuro */
    color: white; /* Color de letra blanco */
    padding: 20px;
    border-radius: 10px;
}

.container button {
    margin-left: 25%;
}


.container h1 {
    text-align: center;
    margin-bottom: 9px;
}

form {
    display: grid;
    grid-gap:10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #2c3e50; /* Color de letra gris */
    margin-bottom: 5%;
}

button {
    background-color: rgb(239, 241, 241); 
    cursor: pointer;
    color: grey;
    width: 50%;
    align-items: center;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(194, 196, 196);
    cursor: pointer; 
}

.container.absolute {
    position: absolute;
    top: 66%;
    left: 69%;
    transform: translate(-50%, -50%);
}
/*Footer*/

.footer {
    max-width: 960px; /* Ancho máximo del menú */
    border-bottom-left-radius: 10px; /* Redondea la esquina inferior izquierda */
    border-bottom-right-radius: 10px; /* Redondea la esquina inferior derecha */
    background-color: rgb(22, 76, 73); /* Color de fondo del menú */
    margin: auto; /* Centra el contenido horizontalmente */
    display: flex; /* Usa Flexbox para la disposición de los elementos */
    justify-content: center; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    margin-top: 15px;
}



.footer p {
    align-items: center;
    color:#7e7a7a;
    justify-content: center;
}



/* Estilos responsive para cuando la pantalla tiene 600px o menos */
@media (width <= 600px) {
    .header-content {
        flex-direction: column; /* Cambiar la dirección a vertical */
        justify-content: center; /* Centrar verticalmente los elementos */
        align-items: center; /* Centrar horizontalmente los elementos */
        text-align: center;
    }
    .header-content img {
        display: none;
    }
    .menu li{
        padding: 10px 0;
    }
    nav ul li:not(:last-child) {
        display: none;
    }
    .menu a {
        display: none;
    }
    .contenedor1 {
        width: 90%;
        margin-left: 5%;
    }
    .contenedor2 {
        width: 90%;
        margin-left: 5%;
    }
    .container {
        width: 90%;
        background-color: rgb(22, 76, 73); /* Fondo verde oscuro */
        color: white; /* Color de letra blanco */
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .container.absolute {
        position: static; /* o initial */
        top: auto;
        left: auto;
        transform: none;
    }
 
}

@media (601px <= width <= 1199px) {
    .header-content {
        flex-direction: column; /* Cambiar la dirección a vertical */
        justify-content: center; /* Centrar verticalmente los elementos */
        align-items: center; /* Centrar horizontalmente los elementos */
        text-align: center;
    }
    .header-content img {
        display: none;
    }
    .menu li{
        padding: 10px 0;
    }
    nav ul li:not(:last-child) {
        display: none;
    }
    .menu a {
        display: none;
    }
    .contenedor1 {
        width: 90%;
        margin-left: 5%;
    }
    .contenedor2 {
        width: 90%;
        margin-left: 5%;
    }
    .container {
        width: 90%;
        background-color: rgb(22, 76, 73); /* Fondo verde oscuro */
        color: white; /* Color de letra blanco */
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
    }
    .container.absolute {
        position: static; /* o initial */
        top: auto;
        left: auto;
        transform: none;
    }
}

